<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taiir.sleepcare.home"
    android:versionCode="5"
    android:versionName="1.1.5" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <!-- 短信验证 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 检测网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 监听手机短信 -->
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 注：解锁，启动，切换场景激活广播需加权限，如启动完成，及手机机状态等。 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.loopj.android.application.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- WelcomeActivity -->
        <activity
            android:name="com.sleep.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name="com.sleep.usermanager.UserChangeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!-- mainactivity -->
        <activity
            android:name="com.sleep.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
        </activity>

        <!-- UserRegisterActivity -->
        <activity
            android:name="com.sleep.usermanager.UserRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- UserEmailRegisterActivity -->
        <activity
            android:name="com.sleep.usermanager.UserEmailRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- UserChange -->
        <activity
            android:name="com.sleep.usermanager.UserChangeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- UserRootActivity -->
        <activity
            android:name="com.sleep.usermanager.UserRootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Number_datepcker_times" >
        </activity>
        <!-- UserMediaclFHistory -->
        <activity
            android:name="com.sleep.usermanager.UserMediaclFHistory"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- UserMediaclMMHistory -->
        <activity
            android:name="com.sleep.usermanager.UserMediaclMHistory"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- UserQuestion -->
        <activity
            android:name="com.sleep.usermanager.UserQuestionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- PersonalDataActivity -->
        <activity
            android:name="com.sleep.updatedata.activity.PersonalDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Number_datepcker_times" >
        </activity>
        <!-- SwitchUserActivity -->
        <activity
            android:name="com.sleep.updatedata.activity.SwitchUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- update_bs:f -->
        <activity
            android:name="com.sleep.updatedata.activity.UpdateBsFActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- update_bs:m -->
        <activity
            android:name="com.sleep.updatedata.activity.UpdateBsMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- update_bs:ess -->
        <activity
            android:name="com.sleep.updatedata.activity.UpdateEssActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- AboutActivity -->
        <activity
            android:name="com.sleep.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- SuggestionActivity -->
        <activity
            android:name="com.sleep.activity.SuggestionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- WebActivity -->
        <activity
            android:name="com.sleep.activity.WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- WebActivity2 -->
        <activity
            android:name="com.sleep.activity.WebActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- TextViewScienceActivity -->
        <activity
            android:name="com.sleep.activity.TextViewScienceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- AdActivity -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
        <!-- HistoryActivity -->
        <activity
            android:name="com.sleep.activity.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- WebctivityEn -->
        <activity
            android:name="com.sleep.html.en.WebActivityEn"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- startpictureactivity -->
        <activity
            android:name="com.sleep.welcome.StartPictrueActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="com.sleep.bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>